* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
}
:root {
    --lightBeige: #F5EBE5;
    --darkPurple: #6D6875;
    --palePurple: #8E8997;
    --peach: #FFDCC9;
    --orange: #FFB4A2;
    --mediumPink: #E5989B;
    --darkPink: #A78088;
}
/* .transition-fade {
    opacity: 1;
    transition: 500ms;
}
html.is-animating .transition-fade {
    opacity: 0;
} */
body {
    background-color: var(--lightBeige);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
header, .mobileNavHeader {
    padding: 5px 0px 5px 0px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'menu logo .';
    align-items: center;
    font-size: 1.5rem;
}
.logo {
    color: var(--palePurple);
}
.logo, .navLogo {
    font-size: 2.5rem;
    text-align: center;
}
.activePage {
    color: var(--orange);
}
/* main {
    height: 100%;
} */
#menuButton {
    padding-left: 15px;
    cursor: pointer;
    color: var(--palePurple);
}
.homeWrapper {
    padding: 10px 25px 20px 25px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    'generator'
    'list'
    ;
}
/* NAVIGATION MOBILE */
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a [href^="tel"] {
    text-decoration: none;
    color: unset;
}
.mobileNav {
    position: absolute;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: var(--palePurple);
    display: flex;
    flex-direction: column;
    transition: 500ms;
    z-index: 2;
}
.desktopNav {
    display: none;
}
.mobileNav.activeMobileNav {
    transition: 500ms;
    left: 0;
}
.mobileNavHeader {
    color: var(--lightBeige);
}
.exitMobile {
    padding-left: 15px;
    cursor: pointer;
}
.navLogo {
    color: var(--lightBeige);
}
.navList {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 20px 0px 20px;
    text-align: center;
}
.mobNavListItem {
    color: var(--orange);
    font-size: 1.5rem;
}
.menuNumberList {
    padding-top: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.needHelp {
    color: var(--peach);
    font-size: 1.5rem;
}
.needHelp p {
    font-size: 0.9rem;
    color: var(--lightBeige);
}
.numberTitle {
    color: var(--peach);
    font-size: 1.1rem;
}
.numberTitle span {
    font-size: 0.9rem;
    display: inline-block;
    width: 100%;
}
.numberText {
    font-size: 1.1rem;
    color: var(--lightBeige);
}
.inputFeelingsContainer {
    grid-area: generator;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.instructions {
    color: var(--darkPurple);
    text-align: center;
    font-size: 1.25rem;
}
.moodInput {
    border: 1px solid var(--darkPink);
    color: var(--darkPink);
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    border-radius: 9px;
    font-size: 1.1rem;
}
.submitButton {
    border: none;
    background-color: var(--palePurple);
    border-radius: 5px;
    color: var(--lightBeige);
    padding: 5px 15px;
    font-size: 0.75rem;
}
.feelingsListContainer {
    grid-area: list;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    padding: 0px 10px 0px 10px;
}
.feelingThumbnail {
    padding: 5px 12px 13px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    background-color: var(--darkPink);
    transition: 500ms;
}
.genEmotion {
    color: var(--peach);
}
.genTask{
    color: var(--lightBeige);
}
.feelingList {
    list-style-type: none;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}


/* Media Query - Low Res Tablets & iPads */
@media (min-width: 481px) and (max-width: 768px) {
header, .mobileNavHeader {
    padding: 10px 20px 10px 20px;
    font-size: 1.25rem;
}
.inputFeelingsContainer {
    width: 75%;
    height: 100%;
    margin: auto;
}
.moodInput {
    width: 60%;
    font-size: 1.25rem;
}
.submitButton {
    padding: 5px 20px;
    font-size: 1rem;
}
.feelingThumbnail {
    width: 75%;
    margin: auto;
}
.navLogo {
    font-size: 3rem;
}
.navList {
    padding: 0px 30px 0px 30px;
}
.mobNavListItem, .needHelp {
    font-size: 2rem;
}
.needHelp p {
    font-size: 1rem;
}
.numberTitle, .numberText {
    font-size: 1.2rem;
}

}



/* Media Query - Small Screens & Laptops */
@media (min-width: 769px) and (max-width: 1024px) {
header, .mobileNavHeader {
    padding: 10px 20px 10px 20px;
    font-size: 2rem;
}
main {
    padding: 10px 50px 20px 50px;
}
/* HEADER */
.logo {
    font-size: 3rem;
}
/* INPUT SECTION */
.inputFeelingsContainer {
    width: 60%;
    height: 100%;
    margin: auto;
}
.instructions {
    font-size: 1.5rem;
}
.moodInput {
    width: 60%;
    font-size: 1.5rem;
}
.submitButton {
    padding: 5px 30px;
    font-size: 1.25rem;
}
/* NAV BAR */
.navList {
    padding: 0px 50px 0px 50px;
    width: 75%;
    margin: auto;
}
.numberList {
    gap: 25px;
}
.mobNavListItem, .needHelp {
    font-size: 2rem;
}
.needHelp p {
    font-size: 1rem;
}
.numberTitle {
    font-size: 1.25rem;
}
.numberTitle span {
    font-size: 1rem;
}
/* FEELING LIST */
.feelingThumbnail {
    padding: 10px 40px 20px 40px;
}
.genEmotion {
    font-size: 2rem;
}
.genTask{
    font-size: 1.25rem;
}
.feelingList {
    padding-bottom: 150px;
}
.feelingsListContainer {
    width: 75%;
    margin: auto;
}

}


/* Media Query - Desktops & Large Screens */
/* @media (min-width: 1025px) and (max-width: 1200px) { */
@media (min-width: 1025px) and (max-width: 1439px) {
body {
    display: grid;
    grid-template-columns: 0.15fr 2fr;
    grid-template-rows: 0.15fr 2fr;
    grid-template-areas: 
    'nav header'
    'nav main'
    ;
}
nav {
    grid-area: nav;
}
header {
    grid-area: header;
    display: block;
    margin: auto;
}
main {
    grid-area: main;
    padding: 0px 30px 25px 30px;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr;
}
.mobileNav, #menuButton  {
    display: none;
}
.desktopNav {
    background-color: var(--palePurple);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desktopNav ul {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.desktopNav li {
    color: var(--lightBeige);
    font-size: 1.5rem;
    cursor: pointer;
}
/* MAIN */
.inputFeelingsContainer {
    width: 60%;
    height: 100%;
    margin: auto;
}
.feelingList {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: unset;
    justify-content: center;
}
.feelingThumbnail {
    width: 30%;
    padding: 5px 12px 13px 12px;
}

}

/* Media Query - Macbook Pro 13" minimum */
@media (min-width: 1440px) {
body {
    display: grid;
    grid-template-columns: 0.1fr 2fr;
    grid-template-rows: 0.1fr 2fr;
    grid-template-areas: 
    'nav header'
    'nav main'
    ;
}
nav {
    grid-area: nav;
}
header {
    grid-area: header;
    display: block;
    padding: 10px 0px 10px 0px;
    margin: auto;
}
main {
    grid-area: main;
    padding: 0px 30px 25px 30px;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr;
}
/* NAVIGATION */
.mobileNav, #menuButton  {
    display: none;
}
.desktopNav {
    background-color: var(--palePurple);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desktopNav ul {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.desktopNav li {
    color: var(--lightBeige);
    font-size: 1.5rem;
    cursor: pointer;
}
/* MAIN */
.inputFeelingsContainer {
    width: 40%;
    height: 100%;
    margin: auto;
}
.moodInput {
    width: 75%;
    font-size: 1.5rem;
}
.submitButton {
    padding: 5px 20px;
    font-size: 1rem;
}
.feelingList {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: unset;
    justify-content: center;
}
.feelingThumbnail {
    width: 30%;
    padding: 5px 12px 13px 12px;
}

}