* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
}
:root {
    --lightBeige: #F5EBE5;
    --darkPurple: #6D6875;
    --palePurple: #8E8997;
    --peach: #FFDCC9;
    --orange: #FFB4A2;
    --mediumPink: #E5989B;
    --darkPink: #A78088;
}
main {
    display: block;
}
.contentWrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 3fr;
    grid-template-columns: auto;
}
.flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.titleBox h3 {
    font-size: 1.5rem;
    color: var(--darkPurple);
}
.titleBox p {
    font-size: 0.9rem;
    color: var(--palePurple);
}
.titleBox span {
    display: inline-block;
    width: 100%;
}
.inputSection {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inputSection textarea {
    padding: 10px;
    width: 90%;
    height: 60%;
    border: 1px solid var(--darkPurple);
    background-color: transparent;
    color: var(--palePurple);
    border-radius: 9px;
    font-size: 1rem;
}
.inputSection button {
    width: 90%;
    padding: 10px;
    font-size: 1.5rem;
    background-color: var(--darkPink);
    color: var(--lightBeige);
    border: none;
    border-radius: 9px;
}
.inputSection p {
    color: var(--darkPurple);
}


/* Media Query - Low Res Tablets & iPads */
@media (min-width: 481px) and (max-width: 768px) {

}



/* Media Query - Small Screens & Laptops */
@media (min-width: 769px) and (max-width: 1024px) {

}



/* Media Query - Desktops & Large Screens */
/* @media (min-width: 1025px) and (max-width: 1200px) { */
@media (min-width: 1025px) and (max-width: 1439px) {

}



/* Media Query - Macbook Pro 13" minimum */
@media (min-width: 1440px) {

}